PATH_add script

#export LIBRARY_PATH=/opt/homebrew/lib
#export FOO=/opt/homebrew/lib

if false; then
  use_nix .config/nix/shell.nix
  watch_file .config/nix/shell.nix
elif [[ -d /opt/homebrew ]]; then
    export LIBRARY_PATH=/opt/homebrew/lib
fi
